/*Mobile--------------------*/
*{
    box-sizing: border-box
}

body{
    font-family: 'Merriweather', serif;
}

h1{
    text-align: center;
    font-size: 1.25em;
    color: white;
    text-transform: uppercase;
}

h2{
    font-size: 1.15em;
    font-weight: bold;
}

p{
    font-size: .9em;
    color: slategray;
}

/*Form Selectors--------------------*/
legend{
    font-size: 1.25em;
    text-align: left;
}

fieldset{
    border-top: 2px solid black;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: white;
    margin-right: 0;
    margin-left: 0;
}

label{
    color: slategray;
}

textarea{
    font-size: 1em;
    color: black;
    font-weight: 300; 
    width: 100%;
    border: none;
    height: auto;
    padding: 15px;
    outline: 0;
    margin-bottom: 1.2em;
    margin-top: 1em;
    border-radius: .3em;
    border-bottom: 3px solid rgba(0,0,0, 0.05);
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

input[type="radio"],
input[type="checkbox"]{
    margin-top: 1em;
    margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="tel"]{
    font-size: 1em;
    color: black;
    font-weight: 300; 
    width: 100%;
    border: none;
    height: auto;
    padding: 15px;
    outline: 0;
    margin-bottom: 1.2em;
    margin-top: 1em;
    border-radius: .3em;
    border-bottom: 3px solid rgba(0,0,0, 0.05);
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

select{
    font-size: 1em;
    color: black;
    font-weight: 300; 
    width: 100%;
    border: none;
    height: auto;
    padding: 15px;
    outline: 0;
    margin-bottom: 1.2em;
    margin-top: 1em;
    border-radius: .3em;
    border-bottom: 3px solid rgba(0,0,0, 0.05);
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

button{
    font-size: 1em;
    color: white;
    font-weight: 300; 
    width: 100%;
    border: none;
    height: auto;
    padding: 15px;
    outline: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: .3em;
    border-bottom: 3px solid rgba(0,0,0, 0.05);
    background-color: #1fc5bd;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    cursor: pointer;
}
/*Class Selectors--------------------*/

.mgn{
    margin-right: 15px;
    margin-left: 15px;
}

.main-title{
    background-color: rgb(42, 46, 63);
    padding: 25px 0;
    margin-top: 0;
}

.sign-up{
    text-align: center;
    padding-top: 15px;
}

.header-p{
    text-align: center;
    border-bottom: 4px solid black;
    padding-bottom: 40px;
    margin-bottom: 4px;
}

.legend-head{
    display: none;
}

.form-head{
    padding-bottom: 10px;
}

.selection{
    padding-top: 10px;
    font-size: .85em;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.chk{
    padding-left: 1em;
}

.copyright{
    font-style: italic;
    text-align: center;
    padding-bottom: 100px;
}